.homeMain {
  height: 100%;
  background-color: rgb(126, 7, 7);
  background-blend-mode: screen;
}
.contentC {
  height: 40rem;
}
h3 {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(126, 7, 7);
}

.callToAction {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  z-index: 10000;
  position: fixed;
  font-size: xx-large;
  padding: 1rem;
  margin: auto;
  width: auto;
  top: 40%;
  left: 74%;
}
.login {
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.signUp {
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.signUp,
.login:hover {
  cursor: pointer;
}
// small screeens

@media only screen and (max-width: 700px) {
  .homeMain {
    display: none;
  }
  .containerC{
    width:100%;
    height: 100%;
    background-color: rgb(126, 7, 7);
    background-image: url(https://assets.keap.com/image/upload/b_rgb:FFFFFF,c_limit,dpr_1,f_auto,h_395,q_95,w_569/v1517439071/social_media_speech_bubbles_f19pve.jpg);
    background-blend-mode:screen;
  }

  .callToAction {
    z-index: 200000;
    text-align: center;
    display: block;
    color:rgb(126, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 25%;
    top: (100%/3);

  }
  .login {
    background-color: rgb(126, 7, 7);
    color: white;
    font-size: x-large;
    font-weight: bolder;
    width: auto;
    height: auto;
    border: 2px solid rgb(126, 7, 7);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  .signUp {
    background-color: rgb(126, 7, 7);
    color: white;
    font-size: x-large;
    font-weight: bolder;
    width: auto;
    height: auto;
    border: 2px solid rgb(126, 7, 7);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  .signUp,
  .login:hover {
    cursor: pointer;
  }
}
