<div class="container">
  <div class="example-container">
    <p><b>SIGN-UP</b></p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput>
    </mat-form-field>
    <p><button>GO</button></p>
    <p><b>Have an account <span class="signup" routerLink="/login"> Login</span> </b></p>
  </div>
</div>


